html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #000;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

body h1, h2, h3, h4, h5, h6, p, img {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1198px;
  margin: 0 auto;
  padding: 0 15px;
}

:root {
  --White: #fff;
  --Green: #27AE60;
  --DimGrey: #535353;
  --Grey: #4F4F4F;
}
